[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==3.5.0"
asgiref = "==3.5.0"
click = "==8.0.3"
colorama = "==0.4.4"
fastapi = "==0.73.0"
h11 = "==0.13.0"
idna = "==3.3"
pydantic = {extras = ["email"], version = "*"}
sniffio = "==1.2.0"
starlette = "==0.17.1"
typing-extensions = "==4.0.1"
uvicorn = "==0.17.3"
sqlalchemy = "*"
pymysql = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
